<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Your Unique Record and Transaction ID are as follows:</h2>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      {% for key, value in voter_data.items() %}
             <tr>
                 <th> {{ key }} </th>
                 <td> {{ value }} </td>
             </tr>
             {% endfor %}
      </tr>
    </tbody>
  </table>
  </div>


  <h2>Current Ballot State (on Blockchain):</h2>
  <div class="table-responsive">
  <table class="table table-hover ">
    <thead>
      <tr>
        <th>ID</th>
        <th>Candidate</th>
        <th>Vote Count</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
             <tr>
               <td> {{ result.id }} </td>
                 <th> {{ result.name }} </th>
                 <td> {{ result.votes }} </td>
             </tr>
             {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
</div>


</body>
<footer>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
    <script type="text/javascript">

    </script>

</footer>
</html>
